@import url("https://fonts.google.com/specimen/Space+Grotesk");

$color-white: #ffffff;
$color-light-violet: #dedddf;
$color-dark-violet: #8e8593;
$color-very-dark-violet: #22092f;

@font-face {
  font-family: "Space Grotesk";
  src: url("https://fonts.google.com/specimen/Space+Grotesk");
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.top-container {
  width: 100%;
  height: 285px;
  background-image: url("images/bg-main-mobile.png");
  background-size: 100% 240px;
  background-repeat: no-repeat;

  .front-card {
    position: relative;
    top: 128px;
    left: 15px;
    height: 158px;
    width: 285px;
    z-index: 1;
    #card-logo {
      position: absolute;
      left: 15px;
      top: 20px;
      height: 30px;
      width: 55px;
      z-index: 2;
    }
    img {
      height: 158px;
      width: 285px;
    }
  }

  .back-card {
    position: relative;
    top: -120px;
    left: 60px;
    height: 158px;
    width: 285px;
    img {
      height: 158px;
      width: 285px;
    }
  }
}

.form {
  max-width: 100%;
  margin: 1px;
  padding: 20px;

  input {
    width: 92%;
    border: 1px solid $color-light-violet;
    border-radius: 8px;
    border-width: 1.2px;
    padding: 10px;
    font-size: 1.2rem;
    &::placeholder {
      color: $color-light-violet;
    }
  }
}
