@import url("https://fonts.google.com/specimen/Space+Grotesk");

$color-white: #ffffff;
$color-light-violet: #dedddf;
$color-dark-violet: #8e8593;
$color-very-dark-violet: #22092f;

@font-face {
  font-family: "Space Grotesk";
  src: url("https://fonts.google.com/specimen/Space+Grotesk");
}

body {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: 0.8px;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  background-image: url("images/bg-main-mobile.png");
  background-size: 100% 240px;
  background-repeat: no-repeat;
}

.top-container {
  width: 100%;
  height: 285px;

  .front-card {
    position: relative;
    top: 128px;
    left: 5%;
    transition: left 0.8s ease-in-out;
    height: 158px;
    width: 100%;
    z-index: 1;
    #card-logo {
      position: absolute;
      left: 15px;
      top: 20px;
      height: 30px;
      width: 55px;
      z-index: 2;
    }
    img {
      height: 158px;
      width: 285px;
    }
  }

  .back-card {
    position: relative;
    top: -120px;
    left: 16%;
    transition: left 0.8s ease-in-out;
    height: 158px;
    width: 100%;
    img {
      height: 158px;
      width: 285px;
    }
  }
}

.form {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-left: 2%;
  padding: 20px;
  & > * {
    margin-bottom: 25px;
  }
  .card-another-numbers {
    display: flex;
    .exp-date {
      max-width: 50%;

      #exp-date-mm {
        max-width: 30%;
      }
      #exp-date-yy {
        max-width: 30%;
      }
    }
    .cvc {
      max-width: 50%;
      #cvc {
        max-width: 85%;
      }
    }
  }
  p {
    font-size: 0.75rem;
    margin: 0 0 2% 0.5%;
  }

  input {
    width: 92%;
    border: 1px solid $color-light-violet;
    border-radius: 8px;
    border-width: 1.2px;
    padding: 10px;
    font-size: 1.2rem;
    &::placeholder {
      color: $color-light-violet;
    }
  }

  .confirm {
    width: 99%;
    background-color: $color-very-dark-violet;
    color: $color-light-violet;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    padding: 12px;
  }

  .attribution {
    color: $color-dark-violet;
    text-align: center;
    font-size: 0.65rem;
    a {
      text-decoration: none;
      color: $color-very-dark-violet;
    }
  }
}

@media screen and (min-width: 424px) {
  .top-container {
    .front-card {
      left: 12%;
      transition: left 0.8s ease-in-out;
    }
    .back-card {
      left: 20%;
      transition: left 0.8s ease-in-out;
    }
  }
}
